*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.header{
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ede0d4;
    z-index: 9;
}

.nav{
    padding: 10px 10px;
    display: flex;
    justify-content:center;
 
}

.logo{
    height: 60px;
}

.nav-items{
    display: flex;
    align-items: center;
    
}

.nav-items a img{
    width: 30px;
}
  
.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    
}

.link{
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

.link:hover{
    
    font-size: larger;
}
#hero-section{
    background-image: url('https://github.com/EmtinanMaji/sda-2-online-html-css-ecommerce-landing-page/blob/main/src/imeges/Cloud-BG.jpg');

}

.hero-section {
    width: 100%;
    height: 600px;
    background-image: url('../imeges/Cloud-BG.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;


}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #C6A58A;
    color: black;
    border: none;
    border-radius: 5px;
    justify-content:end;
}

button:hover {
    opacity: .7;
}

.section__title{
    padding:20px;
    text-align: center;
}
.About-Us {
    background-color: #C6A58A;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.products{
    background-color: #ede0d4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    
}

p{
    font-size: 20px;
}
.product {
    
    background-color: #C6A58A;
    padding: 10px;
    margin: 10px;
}

.product button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ede0d4;
    color: black;
    border: none;
    border-radius: 5px;
    justify-content:end;
}
.product button:hover {
    opacity: .7;
}
.product-img:hover{
    size: zoom-in;
}
.reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #ede0d4;
    flex-direction: row;
}

.review {
    background-color: #C6A58A;
    padding: 10px;
    margin: 10px;
}
.newsletter{
    background-color: #ede0d4;
    padding: 10px;
    margin: 10px;
}
#email{
    border: none;
    border-bottom: 2px solid black;
    background-color: #ede0d4;
    width: 250px;
    height: 20px;
}
.submit {
    padding: 10px;
    margin: 10px;
    text-align: center;
}
footer{
    background-color: #C6A58A;
    text-align: center;
    width: 100%;
    bottom: 0;
  }

.frist-line{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction:column;
}
.about{
    background-color: black;
    width: 100px;
}
.frist-line .footer-link {
    color: black;
    text-decoration: none;
    margin:0 30px;
    flex-direction: column;
}
.frist-line .contact-info{
    flex-direction: column;
}
.icon{
    margin:0 10px;
    flex-direction: row;
}

.therd-line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;

}
.therd-line-left{
    font-size: 15px;
}
.Payment-method{
    padding: 0 10px;
    margin: 0 5px;
}
@media screen and (max-width: 600px) {
    .product{
        grid-template-columns: auto auto;  
    }
    
}
